<div [ngStyle]="{'color': colorScheme?.contentColor}" class="py-2">
    <ul>
        <li *ngFor="let menu of menuItems">
            <ng-template *ngIf="menu.type === 'group'; then showGroup else showSection"></ng-template>
            <ng-template #showGroup>
                <div class="menu-group item-height" (click)="ativeMenuButton(menu)"
                    [ngClass]="{'selected-item-light': $any(menu).selected && colorScheme.selectedLight, 'selected-item-dark': $any(menu).selected && !colorScheme.selectedLight, 'select-hover-light': colorScheme.selectedLight, 'select-hover-dark': !colorScheme.selectedLight}" >
                    <div class="flex-align-items-vertically">
                        <i [class]="$any(menu).icon" class="icon-size"></i>
                        <a class="left-margin text-overflow clean-hyperlink" [routerLink]="[$any(menu).route]" routerLinkActive="active" [title]="menu.name">{{menu.name}}</a>
                    </div>
                    <div *ngIf="$any(menu).children.length > 0">
                        <i class="pi pi-chevron-up menu-group-expand" [ngClass]="{'menu-group-colapsed-button': !$any(menu).open}"></i>               
                    </div>
                </div>
                <div *ngIf="$any(menu).children.length > 0" [ngClass]="{'hide-children': !$any(menu).open, 'show-children': $any(menu).open}">
                    <ul>
                        <li class="sub-menu item-height" *ngFor="let item of $any(menu).children as MenuGroupItem"  (click)="ativeMenuButton(item)"
                            [ngClass]="{'selected-item-light': $any(item).selected && colorScheme.selectedLight, 'selected-item-dark': $any(item).selected && !colorScheme.selectedLight, 'select-hover-light': colorScheme.selectedLight, 'select-hover-dark': !colorScheme.selectedLight}">
                            <a class="item-left-margin clean-hyperlink" [routerLink]="[$any(item).route]" routerLinkActive="active">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
            <ng-template #showSection>
                <div class="section-model">
                    <span>{{menu.name}}</span>
                </div>
            </ng-template>
        </li>
    </ul>
</div>