/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

.grid {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}